<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>体育场馆预约系统</title>
	
    <link rel="stylesheet" href="../css/login_style.css">
	
	
</head>
<body>

    <div class="form" style="position:relative">
		<h1>Meet Here</h1>
		<!--登录-->
        <div class="form_register" style="position:absolute">  
            <form action="/login" method="post">
                <h2>登录</h2>
                <div class="form_item">
                    <label for="username">用户名：</label>
                    <input type="text" name="username" id="username" placeholder="请输入用户名" required >
                </div>
                <div class="form_item">
                    <label for="password">密码：</label>
                    <input type="password" name="password" id="password" placeholder="请输入密码名" required>
                </div>
                
                <div class="form_item">
                    <input type="submit" value="登录" >
                </div>
            </form>
            
        </div>
		
	
        
    </div>
</body>
</html>